{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

We have variety of products

{% endblock %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for : <br>"{{ query }}"</p>
    <div class="container">
            <div class="row mx-auto">
                {% for i in products %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4 ">
                    <div class="card text-center" style="width: auto; height: 650px">
                        <a href="{{ i.get_url }}"><img src="{{ i.image.url }}" alt="{{ i.name }}" style="width: 400px; height: 500px;"></a>
                        <div class="card-body">
                            <h4>{{ i.name }}</h4>
                            <p>{{ i.price }}</p>
                        </div>
                    </div
                </div>
        {% empty %}
                <div class="row mx-auto">
                    <p class="text-center my_search_text">0 results found</p>
                </div>
                {% endfor %}
</div>
{% endblock %}